<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <img id="logo" src="{{ url_for ('static', filename='akademiet.png') }}" alt="akademietlogo">
        <a href="/meny">Meny</a>
        <a href="/varer">Varer</a>
    </nav>
    {% block content %}{% endblock %}
    <footer>
        <a href="/kontakt">Kontakt</a>
    </footer>
    
</body>
</html>